body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

footer {
    
    position: absolute;
    bottom: 0;
    left: 200px;
}

/*/////////////////////////////// CSS PROPIO //////////////////*/

#containerHeader{
    align-items: center;
    background-color: gray;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 6px;
    
}

#containerContHeader1{
    width: 526px;
    height: 80px;
}
#containerContHeader2{
    text-align: right;
    width: 1200px;
    height: 120px;
}

h4{
    font:  bold Helvetica;
}

#btnCerrarSesion{
    width: 120px;
    height: 39px;
    background-color: #ffc107;
    border-style: solid;
    border-color:#ffc107;
    border-width: 3px;
    border-radius: 7px;
}


.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}
.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
}
.p-3 {
    padding: 1rem!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
nav {
    display: block;
}